doctype html
html(lang='en')
  head
    title= title

    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css')
    link(rel='stylesheet', href='/stylesheets/typeahead.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
      
  body
    block variable
      - var req = {}
 
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') Lieberlerts
      a(href='/')
        img.className#IdName(src="/images/bellImage.svg" alt="Image Title" width="50" height="50")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/teams') Teams
          li.nav-item 
            a.nav-link(href='/settings') Settings
          form.form-inline
            input.form-control.mr-sm-2.typeahead.tt-query(type='text', placeholder='Search', aria-label='Search', name = 'q', id='mySearch', autocomplete="off", spellcheck="false", dir="auto")
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit', formaction='/teams/teamSearch') Search
        ul.navbar-nav.float: right(style={color: 'white'})
          if req.user
            if req.user
              if req.user.first_name
                |Welcome back #{req.user.first_name}
              else
                |Welcome back #{req.user.email}
          else
            li.nav-item
              a.nav-link(href='/login')
                |login
                span.sr-only (current)
        if req.user
          ul.navbar-nav.float: right
            li.nav-item
              a.nav-link(href='/logout') Logout
              
    block content
      
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    script(src='/javascripts/typeahead.bundle.min.js')
    script(src='/javascripts/app.js')
