extends ./layout

block variable
  -var req = request
block content  
  head
    link(href='../../public/stylesheets/loginButtons.css')
    main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        .kpx_login
          h3.kpx_authTitle
            table(style='width:100%')
              tr
                .col-sm-2.col-md-4
                  th Team Number
                .col-sm-2.col-md-4
                  th Team Name
                .col-sm-2.col-md-4
                  th Subscribe to Team
                -var i=0;
                -var length = teams.length;
                -if(length>15) {length=15;}
                while i<length
                  tr  
                    .col-sm-8.col-lg-12
                      td 
                        a.nav-link(href='https://www.thebluealliance.com/team/'+teams[i].team_number) #{teams[i].team_number}
                    .col-sm-8.col-lg-12
                      td
                        a.nav-link(href='https://www.thebluealliance.com/team/'+teams[i].team_number) #{teams[i].nickname}
                    .col-sm-8.col-lg-12
                      td
                        if req.user
                          -var j=0;
                          -var subscribed = false;
                          -var teamsLength = req.user.teams.length;
                          while j<teamsLength
                            -var team = req.user.teams[j];
                            if team === teams[i]._id
                              | Subscribed
                              -subscribed = true;
                            -j++;
                          if !subscribed
                            a.nav-link(href='/teams/subscribe?team='+teams[i].team_number+'&q='+req.query.q) Subscribe
                        else
                          a.nav-link(href='/teams/subscribe?team='+teams[i].team_number+'&q='+req.query.q) Subscribe
                  -i++;
