extends ./layout

block variable
  -var req = request
block content  
  head
    link(href='../../public/stylesheets/loginButtons.css')
    main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        .kpx_login
          h3
              table(style='width:100%')
                tr
                  .col-sm-2.col-md-4
                    th Team Number
                  .col-sm-2.col-md-4
                    th Team Name
                  .col-sm-2.col-md-4
                    th Unsubscribe from Team
                  -var i=0;
                  -var length = numbers.length;
                  while i<length
                    tr
                      .col-sm-8.col-lg-12
                        td 
                          | #{numbers[i]}
                      .col-sm-6.col-lg-12
                        td
                          | #{nicknames[i]}
                      .col-sm-2.col-lg-12
                        td
                          a.nav-link(href='/teams/unsubscribe?team='+numbers[i]) Unsubscribe
                    -i++;
